.container {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .my-2 {
    margin-top: var(--spacing-two);
    margin-bottom: var(--spacing-two);
  }

  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }

  .error-text {
    color: var(--error);
  }

  .flex-end {
    justify-content: flex-end;
  }
  form {
    width: 40%;
  }